<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>CYBERSEC CORP</title>
  </head>
  <body class="cybersec-background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('views.index') }}">CYBERSEC CORP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.sign_up') }}">Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Connexion</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">CYBERSEC CORP</h1>
        <p class="lead">Nous proposons des services d'audit de cybersécurité et plein d'autres services dans le domaine.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header">
              <i class="fas fa-lock fa-3x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Audit de cybersécurité</h5>
              <p class="card-text">Nous vous aidons à sécuriser votre système informatique et à protéger vos données sensibles.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
